name: CI

on:
    push:
    pull_request:
    workflow_dispatch:
        inputs:
            upload:
                description: "Upload build artifacts"
                type: boolean
                default: false

jobs:
    application:
        runs-on: windows-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Build the Project with CMake
              run: |
                  cmake -S . -B build -G "Visual Studio 17 2022" -A x64
                  cmake --build build --config Release --target R6NoRecoil

            - name: Strip symbols from executable
              run: strip build/Release/R6NoRecoil.exe

            - name: Prepare release folder
              run: |
                  mkdir R6NoRecoil
                  copy build\Config.toml R6NoRecoil\
                  copy build\WeaponData.json R6NoRecoil\
                  copy build\Release\R6NoRecoil.exe R6NoRecoil\
                  copy scripts\UpdateTool.bat R6NoRecoil\
                  xcopy assets R6NoRecoil\assets /E /I /Y

            - name: Upload artifact
              if: github.event_name == 'workflow_dispatch' && inputs.upload == true
              uses: actions/upload-artifact@v6
              with:
                  name: R6NoRecoil
                  path: R6NoRecoil

    website:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "latest"

            - name: Yarn install
              run: cd website && yarn

            - name: Lint website
              run: cd website && yarn lint

            - name: Build website
              run: cd website && yarn build
